.LoginContainer{
    z-index: 100;

    position: fixed;
    inset: 0;
    background-color: #10101030;
    height: 100%;
    
    .LoginSection{
        overflow-y: scroll;
        
        position: absolute;
        right: 0;
        // height: 100vh;
        width: 720px;
        background-color: white;
        color: black;
        height: 100%;
        animation: dr 0.5s ease-in;
       
    
            @keyframes dr{
                0%{width: 0;}
                100%{width: 720px;}
            }

        .LoginHeaderDivision{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            



            .HeadingDiv{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3%;
                width: 100%;
        
        
                .MainHeading{
                    width: 80%;
                    height: 44px;
                    padding-right: 20px;
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: dr 0.5s ease-in;
                }
                button{
                    cursor: pointer;
                    height: 44px;
                    width: 44px;
                    border-radius: 50%;
                    border: none;
        
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    font-size: 20px;
                    background-color: #2d2c2c21;
                    animation: bt 0.5s ease-in;
        
                    @keyframes bt{
                        0%{width: 0;}
                        100%{width: 20px;}
                    }
                   
                }
            }

            .Image{
                margin-top: 5%;
                position: relative;
                left: 10px;
                animation: im 0.5s ease-in;
                @keyframes im{
                    0%{width: 0;}
                    100%{width: 230px;}
                }

                img{
                    width: 227px;
                    height: 227px;
                }
            }
        }

        .LoginMidDivision{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // gap: 15px;

            // background-color: gold;

            p{
                font-size: 23px;
                font-weight: 500;
                animation: p 0.5s ease-in;
                @keyframes p{
                    0%{width: 0;}
                    100%{width: 200px;}
                }
            }
            .form{
                

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

    
                #email, #password{
                    display: block;
                    box-sizing: border-box;
                    height: 54px;
                    width: 353px;
                    border: none;
                    border-radius: 25px;
                    margin-top: 15px;
    
                    box-shadow: 2px 2px 8px #7c71df4f,-2px -2px 8px #7c71df4f;
                    padding: 2px 14px;
    
                    text-transform: capitalize;

                    animation: pass 0.5s ease-in;

                    @keyframes pass{
                        0%{width: 0;}
                        100%{width: 353px;}
                    }

                    
                    // margin-left: 25%;
                    
                }
               
    
                .errorMsg{
                    margin-top: 10px;
                    color: red;
                    margin-left: 25px;
                }

                .forgotPassword{
                    display: block;
                    text-decoration: none;

                    position: relative;
                    left: 210px;
                    margin-top: 15px;
                    animation: fp 0.5s ease-in;
                    @keyframes fp{
                        0%{width: 0;}
                        100%{width: 250px;}
                    }
                }

                button{
                    box-sizing: border-box;
                    height: 54px;
                    width: 353px;
                    border-radius: 25px;
                    background-color: #7C71DF;
                    color: white;
                    font-size: 16px;
                    margin-top: 15px;
                    animation: bt2 0.5s ease-in;

                    @keyframes bt2{
                        0%{width: 0;}
                        100%{width: 353px;}
                    }
                }
            }

            @media (max-width:400px) {

                .form{
                    // width: 100%;
                    margin: 0px 5%;

                    #email, #password{
                        width: 100%;
                        
                    }
                }
            }

        }


        .LoginEndDivision{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .seprator{
                margin-top: 15px;
                animation: sptr 0.5s ease-in;

                @keyframes sptr{
                    0%{width: 0;}
                    100%{width: 400px;}
                }

                &::before,
                &::after{
                    display: inline-block;
                    content: "";
                    border-top: 1px solid rgba(0, 0, 0, 0.322);
                    width: 150px;
                    margin: 0 1rem;
                }
                
            }

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                border: 1px solid black;
                box-sizing: border-box;
                height: 45px;
                width: 353px;
                border-radius: 25px;
                font-size: 16px;
                margin-top: 15px;

                background-color: white;
                cursor: pointer;
                animation: bt3 0.5s ease-in;

                @keyframes bt3{
                    0%{width: 0;}
                    100%{width: 353px;}
                }
            }

            .signUpSec{
                animation: snup 0.5s ease-in;

                @keyframes snup{
                    0%{width: 0;}
                    100%{width: 353px;}
                }
                p{
                    color: rgba(0, 0, 0, 0.527);

                    a{
                        text-decoration: none;
                    }
                }
            }
        }


    }

    @media (max-width: 720px) {
        .LoginSection{
            width: 100%;
        }
        
    }
    
}



// Sign UP Page Styliing


.SignUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;

 
}