.SignupContainer{
    z-index: 200;
    position: fixed;
    inset: 0;
    background-color: #10101030;
    height: 100%;
    
    .SignupSection{
        overflow-y: scroll;
        position: absolute;
        right: 0;
        // height: 100vh;
        width: 720px;
        background-color: white;
        color: black;
        height: 100%;
       

        .SignupHeaderDivision{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;



            .HeadingDiv{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3%;
                width: 100%;
        
        
                .MainHeading{
                    width: 80%;
                    height: 44px;
                    padding-right: 20px;
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
                button{
                    cursor: pointer;
                    height: 44px;
                    width: 44px;
                    border-radius: 50%;
                    border: none;
        
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    font-size: 20px;
                    background-color: #2d2c2c21;
                   
                   
                }
            }

            .Image{
                margin-top: 5%;
                position: relative;
                left: 10px;
               

                img{
                    width: 227px;
                    height: 227px;
                }
            }
        }

        .SignupMidDivision{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // gap: 15px;

            // background-color: gold;

            p{
                font-size: 23px;
                font-weight: 500;
              
            }
            .form{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

    
                #email, #password{
                    display: block;
                    box-sizing: border-box;
                    height: 54px;
                    width: 353px;
                    border: none;
                    border-radius: 25px;
                    margin-top: 15px;
    
                    box-shadow: 2px 2px 8px #7c71df4f,-2px -2px 8px #7c71df4f;
                    padding: 2px 14px;
    
                    text-transform: capitalize;

                   
                    
                }
    
                .errorMsg{
                    margin-top: 10px;
                    color: red;
                    margin-left: 25px;
                }

                .forgotPassword{
                    display: block;
                    text-decoration: none;

                    position: relative;
                    left: 210px;
                    margin-top: 15px;
           
                }

                button{
                    box-sizing: border-box;
                    height: 54px;
                    width: 353px;
                    border-radius: 25px;
                    background-color: #7C71DF;
                    color: white;
                    font-size: 16px;
                    margin-top: 15px;
                    border: 1px solid black;
                   
                }
            }

        }


      

        .tNcSection{
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .tNcContainer{
                display: flex;
                align-items: center;
                gap: 10px;

                width: 353px;

                input{
                    font-size: 24px;
                    width: 19px;
                    height: 19px;
                    background-color: #686A74;
                    color: #686A74;
                    border-radius: 5px;
                }
                

                label{
                    flex-wrap: wrap;
                    width: 300px;


                    font-size: 16px;
                    line-height: 19.27px;
                    font-weight: 400;
                }
            }
        }

        .bkTOLoginSec{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 21px;


            p{

                a{
                    text-decoration: none;
                }
            }
        }


    }
}


