.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
    
    .porductSec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        
        .productInfoContainer{

            display: flex;
            gap: 100px;
            margin-top: 2%;


            .gridOne{

                .images{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .gridTwo{

                .title{
                    color: black;
                }

                .rating{
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    font-weight: 900;
                    

                    color: gold;
                    position: relative;

                   .ratingNum{
                       margin-left: 7px;
                       color: grey;
                       font-weight: 200;
                       margin-left: 5px;
                       

                   }
                    
                }

                .priceContainer{
                    display: flex;
                    flex-direction: row;
                    margin-top: 25px;

                    .discountedPrice{
                        height: 31px;
                        width: 109px;
                        
                        font-size: 26px;
                        color: blueviolet;
                        
                    }
                    
                    .orignalPrice{
                        text-decoration: line-through;
                        color: grey;
                    //  margin-left: 3px;
                        
                        height: 31px;
                        width: 109px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .discount{
                        
                        // margin-left: 3px;
                        
                        height: 31px;
                        width: 60px;
    
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background: rgba(236, 131, 166, 0.562);
                        border-radius: 25px;
                    }
                }

                .description{
                    width: 400px;
                    flex-wrap: wrap;
                    font-size: 18px;
                    font-weight: 200;
                    margin-top: 25px;


                    &:hover{

                        text-decoration: underline;
                    }
                }

                .checkBoxcontainer{
                    margin-top: 25px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;

                    .colorBox{
                         display: flex;
                         justify-content: center;
                         align-items: center;


                            height: 50px;
                            width: 50px;
                            border-radius: 40% 40% 40% 40%;
                            background-color: darkseagreen;
                            color: white;

                         
                    }
                    .colorBox1{
                        background-color: #B6978D;
                    }
                    .colorBox2{
                        background-color: #8D9EB6;
                    }
                }

                .buyButton{

                    button{
                        width: 100%;
                        
                        box-sizing: border-box;
                        height: 44px;
                        // width: 353px;
                        border-radius: 25px;
                        background-color: #7C71DF;
                        color: white;
                        font-size: 16px;
                        margin-top: 30px;

                        border: none;
                    }
                }

                .RandomLine{
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    font-size: 14px;
                }
            }



        }


        @media  (max-width:500px) {


            .porductSec{
                .breadCrumb{
                    width: 100;
                    overflow: hidden;

                }
            }
            .productInfoContainer{
                // background-color: gold;


                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                margin-top: 2%;

                .gridOne{

                    // background-color: green;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .images{
                        .img1{
                            width: 361px;
                            height: 361px;
                        }

                        .img2, .img3, .img4{
                            display: none
                        }
                    }
                }
            }
        }
        
    }
}